<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/styles/general.css">
<link rel="stylesheet" href="/styles/index.css">

<div class="navbar">
    <div class="navbar-logo" style="width : 400px"><img src="/images/mercadona_text_logo.svg"></div>
    <div class="navbar-content <%= locals.isActive('/') ? 'active' : '' %>">Inicio</div>
    <div class="navbar-content">Categorías</div>
    <div class="navbar-content">Productos</div>
</div>