<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/styles/general.css">
    <link rel = "stylesheet" href = "/styles/indexStyles.css">
    <title>Inventario mercadona</title>
</head>
<body>
    <div class="container">
        <%- include ("partials/navbar") %>
        <div class="homeIndex">
            <img src="/images/mercadona_text_logo.svg">
            <span>Gestiona tu inventario</span>
            <div class="optionsContainer">
                <a href = "/categorias">Categorías</a>
                <a href = "/productos">Productos</a>
            </div>
        </div>
    </div>
</body>
</html>