<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/styles/general.css">
    <link rel = "stylesheet" href = "/styles/productsStyles.css">
    <link rel = "stylesheet" href = "/styles/newProductStyles.css">
    <title>Productos | Mercadona</title>
</head>
<body>
    <div class="container">
        <%- include ("partials/navbar") %>
        <div class="homeNewProduct">
            <span class = "title">Nuevo producto</span>
            <form method="POST" action="/productos/nuevo" class="newProductForm">
                <label for="product_name">Nombre</label>
                <input name="product_name" placeholder="Manzana...">
                <label for="product_price">Precio</label>
                <input name="product_price" placeholder="2.95 ...">
                <label for="product_cateogry">Categoría</label>
                <input name="product_category" placeholder="Frutas...">
                <label for="product_photo">Foto</label>
                <input name="product_photo" placeholder="https://google.com/images ...">
                <button type="submit">Crear producto</button>
            </form>
        </div>
    </div>
</body>
</html>