.homeNewCategory {
    flex: 1;
    background-color: green;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.newCategoryForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}